div#photos {
    overflow: auto
}
div.photo {
    float: left;
    display: inline;
    margin: 0 20px 20px 0;
}
div.photo a img {
    border: 1px solid;
    padding: 1px;
}
p#turtles_caption {
    margin: 5px 0 0
}
div#text a {
    font-weight: bold
}
div#zoom h2 {
    margin: 10px 0 10px
}
div#zoom p {
    line-height: 1.6
}
div#wrapper {
    background: #fff;
    width: 560px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #bc8c46;
    border-width: 0 10px;
}
div#header {
    position: relative;
    border-bottom: 1px dotted;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
div#header p {
    margin: 0;
    padding: 0;
}
div#header h1 {
    margin: 0;
    padding: 0;
}
ul#nav {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#nav li {
    display: inline;
    padding: 0 0 0 5px;
}
ul#nav li a {

}
div#content {

}
div#content p {
    line-height: 1.6
}
div#footer {
    clear: both;
    margin: 40px 0 0;
    border-top: 1px dotted;
    padding: 10px 0 0;
}
