{% extends "base.html" %}

{% block class %}home{% endblock %}

{% block content %}
    <section role="main" class="grid-16 main">
        <div class="top group">
            <h1>What's cookin'</h1>
            <!--<div class="feature-nav">-->

            <!--</div>-->
        </div>
        <div class="articles">
            <article class="group">
                <div class="grid-8 alpha group">
                    <a class="thumb group" href="http://afeedapart.com" title="A Feed Apart">
                        <div class="image">
                            <img src="/media/images/home-icon-afa.png" alt="A Feed Apart" title="A Feed Apart" />
                        </div>
                        <div class="meta">
                            <h1>A Feed Apart</h1>
                            <h2>The official backchannel for<br />An Event Apart</h2>
                        </div>
                    </a>
                    <p>
                    Officially sanctioned by the <a href="http://aneventapart.com">An Event Apart</a> team, the first version of<br /><a href="http://afeedapart.com">A Feed Apart</a> was released in the wee hours of the morning of AEA Boston 2009. We finished a complete rebuild just in time for AEA<br />Boston 2010.
                    </p>
                    <a href="http://afeedapart.com" class="button"><span>AFeedApart.com &raquo;</span></a>
                </div>
                <div class="spicy">
                    <div class="grid-7 push-1 omega thumbs">
                        <a class="first" href="#afa-big-1">
                            <span class="zoom"></span>
                            <img src="/media/images/afa-thumb-1.png" alt="" />
                        </a>
                        <a class="second" href="#afa-big-2">
                            <span class="zoom"></span>
                            <img src="/media/images/afa-thumb-2.png" alt="" />
                        </a>
                        <a class="third" href="#afa-big-3">
                            <span class="zoom"></span>
                            <img src="/media/images/afa-thumb-3.png" alt="" />
                        </a>
                        <a class="fourth" href="#afa-big-4">
                            <span class="zoom"></span>
                            <img src="/media/images/afa-thumb-4.png" alt="" />
                        </a>
                    </div>
                    <div id="afa-big-1">
                        <img src="/media/images/afa-big-1.png" alt="" />
                    </div>
                    <div id="afa-big-2">
                        <img src="/media/images/afa-big-2.png" alt="" />
                    </div>
                    <div id="afa-big-3">
                        <img src="/media/images/afa-big-3.png" alt="" />
                    </div>
                    <div id="afa-big-4">
                        <img src="/media/images/afa-big-4.png" alt="" />
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock content %}
